<ion-header>
  <mobi-nav></mobi-nav>
</ion-header>

<ion-content>
<ion-searchbar>
</ion-searchbar>
  <ion-list>
    <ion-item  *ngFor="let item of listOfMapNode" >
      <ion-row (click)="presentModal(item)">
        <ion-col col-4>
          <img style="width:100px;height:80px;max-width:100%;max-height:100%" src="{{item.logo.url}}" >
        </ion-col>
        <ion-col style="white-space:normal">
          <h2>{{item.business_name}}</h2>
          <p *ngIf="item.distanceFromCurrentPosition">{{item.distanceFromCurrentPosition}} mi</p>
         
        </ion-col>
      </ion-row>
    </ion-item>
  </ion-list>
 
</ion-content>

